# Database MySQL (Local Laragon / Docker)
# Local: mysql://root:@localhost:3306/catatan_kas
# Docker: mysql://kas_user:kas_password@db:3306/catatan_kas
DATABASE_URL="mysql://root:@localhost:3306/catatan_kas"

# Next.js App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google Sheets API (Service Account Credentials)
# Dapatkan dari Google Cloud Console -> IAM & Admin -> Service Accounts
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GOOGLE_SHEET_ID=""
